body{
    margin: 0px;
    padding: 0px;
    width: 90%;
    box-sizing: border-box;
}
header{
    text-align: center;
    font-weight: bolder;
}
header h1{
    color: black;
    font-size: x-large;
}
.note{
    text-align: center;
    font-weight: 500;
    color: rgb(177, 79, 79);
    padding: 10px;
}
#question-one, #question-two,  #question-three,  #question-four,  #question-five{
    margin-left: 7%;
    background-color: beige;
}

#question-one>:first-child,  #question-two>:first-child,  #question-three>:first-child,  #question-four>:first-child,  #question-five>:first-child{
    font-weight: bolder;
    font-size: larger;
}
.button{
    color: white;
    background-color: black;
    padding: 10px 40px;
    position: absolute;
    left: 40%;
    margin: 10px;
}
.button:hover{
        color: white;
        background-color:peru;
    }


